<div class="row">
	<div class="col-lg-12">
		<h1>marwen</h1>
		<p>This page is for testing of the search box controller. Enter a search term in the box below.</p>

		<hr/>


        <!--data-source= http://ec2-75-101-214-153.compute-1.amazonaws.com:8983/solr/collection1/select?q=*:*&fl=id&json.wrf=JSON_CALLBACK&rows=10&wt=xml-->

		<div class="row">
			<div class="span6">
				<searchbox id="searchbox"
						   data-near-match="true"
						   data-placeholder="placeholder"
						   data-search-hints-field="name"
						   data-source="http://ec2-75-101-214-153.compute-1.amazonaws.com:8983/solr/collection1"
						   ng-cloak>
				</searchbox>
			</div>
		</div>


		<div class="row">
			<div id="search-results"
				 class="span6"
				 ng-controller="DocumentSearchResultsController"
				 data-fields="*"
				 data-source="http://ec2-75-101-214-153.compute-1.amazonaws.com:8983/solr/collection1"
				 ng-cloak>
				<div class="column-512">

					<!--Loading img-->

				    <div class="alert alert-warning" ng-show="loading" ng-cloak>
                        <img src="http://upload.wikimedia.org/wikipedia/commons/4/42/Loading.gif" class="icon" />
                        <h4>Processing... <button type="button" class="close" style="float: none;" data-dismiss="modal" aria-hidden="true">×</button></h4>
                    </div>







                    <!--Show Number of Result Found-->
					<div class="summary" ng-show="documents.length > 0" ng-cloak>
						<div style="padding-bottom: 20px;">Search Results <span class="badge">{{totalResults}}</span> found</div>
						<div class="alert alert-warning" ng-show="error">{{error}}</div>
						<div class="alert alert-info" ng-show="message">{{message}}</div>
					</div>

					<!--Show documents-->
			         <div class="panel-body">
                        <ul class="list-group">
                            <li class="list-group-item document"  ng-repeat="doc in documents"  ng-cloak>
                                <div class="row">
                                    <div class="col-xs-2 col-md-1">
                                        <img src="{{doc.firstImageUrl}}" class="img-circle img-responsive" alt="" /></div>
                                    <div class="col-xs-10 col-md-11">
                                        <div>
                                            <a href="http://www.jquery2dotnet.com/2013/10/google-style-login-page-desing-usign.html">
                                                {{doc.name}}</a>
                                            <div class="mic-info">
                                                By: <a href="#">Bhaumik Patel</a> on 2 Aug 2013
                                            </div>
                                        </div>
                                        <div class="comment-text">
                                            Awesome design
                                        </div>
                                        <div class="action">
                                            <button type="button" class="btn btn-primary btn-xs" title="Edit">
                                                <span class="glyphicon glyphicon-pencil"></span>
                                            </button>
                                            <button type="button" class="btn btn-success btn-xs" title="Approved">
                                                <span class="glyphicon glyphicon-ok"></span>
                                            </button>
                                            <button type="button" class="btn btn-danger btn-xs" title="Delete">
                                                <span class="glyphicon glyphicon-trash"></span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>

                    </div>





					<!--Show Pagination-->

					<ul class="pagination">
						<li ng-repeat="page in pages">
							<a ng-class="{iscurrent:page.isCurrent}" ng-click="$parent.handleSetPage(page.number)">{{page.name}}</a>
						</li>
					</ul>

				</div>
			</div>
		</div>
	</div>
</div>

</div>
